
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Js</title>
</head>
<body>
  <header id="main-header" class="bg-success text-white p-4 mb-3">
    <div class="container" data-controller="user-name">
      <h1 id="hedaer-title">Item Lister</h1>
    </div>
  </header>
    <div> 
      <div id="main">
        <h2>Add Items</h2>
        <form>
          <input type="text" data-user-name-target="input" data-action="click->user-name#getUserName">
          <button type="submit" value="Submit">submit</button>         
        </form>
        <button type="checkbox" id="checkbox1" >hide</button>
        <button type="checkbox" id="checkbox2" >show</button>
        <p>This is our list</p>
        <h2 class="title">Items</h2>
        <ul id="items" class="list-group">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
          <li class="list-group-item">Item 4</li>
        </ul>
        <p>This is the end of the list</p>
        <div data-controller="user-name"> 
          <input type="checkbox" id="all" name="all" value="all" data-user-name-target="parent" data-action="change->user-name#toggleChildren">
          <label for="all"> Select All</label><br>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" data-user-name-target="child" data-action="change->user-name#toggleParent">
          <label for="vehicle1"> I have a bike</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" data-user-name-target="child" data-action="change->user-name#toggleParent">
          <label for="vehicle2"> I have a car</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" data-user-name-target="child" data-action="change->user-name#toggleParent">
          <label for="vehicle3"> I have a boat</label><br>
        </div>
      </div>
    </div>
</body>
</html>


